<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64882316564-3snpoh1s32n04lj68ntrmqvs4gdetsih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64882316564-3snpoh1s32n04lj68ntrmqvs4gdetsih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>64882316564-n0t4p59lf8vgpc3kd4ai8uae36udis9m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDo8plxAwZm40aPm_HixhcB_yafYlh5JKM</string>
	<key>GCM_SENDER_ID</key>
	<string>64882316564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmn.payflow</string>
	<key>PROJECT_ID</key>
	<string>payflow-nlw-37455</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-nlw-37455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64882316564:ios:3fd49b41fd8262c7d61e01</string>
</dict>
</plist>